body {
	margin-top: 51px;
}
.form-control[disabled] {
    background-color: whitesmoke;
    border: none;
    cursor: default;
}

.pading-input-group {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

/*añadir a bootstrap*/
.center-block, .text-center {
    float: none;
}

