.contenedor-registro {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 6% 7% 6% 7%;
  width: 75%;
  margin: auto;
}

.green-text {
  color: #88c33d;
}


body {
  height: 100%;
  /*background-image: url("../img/bg_desenfocado.png");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


