@font-face
{
   font-family: "Biko_Regular";
  src: url("Biko_Regular.otf");
        
}
.header{
	background-color: white;
	position: absolute; /*(o relative, según tu diseño)*/
	top: 0px;
	height: 85px;
	width: 100%;
}
.navegacion{
background-color: #f6f6f6;
margin-top: 85px;
height: 25px;
width: 100%;
-webkit-box-shadow: 0px 10px 41px 3px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 10px 41px 3px rgba(0,0,0,0.09);
box-shadow: 0px 10px 41px 3px rgba(0,0,0,0.09);
}
.navegacion a{
	color:black;
    vertical-align: middle; 
    text-decoration: none;
}
a:active {
  color: #88c33d;
  text-decoration: underline #88c33d; 
}


a{text-decoration:none;}
.iconav{
	height: 75%;
	padding-left: 11%;
	margin-top: 3px;
	margin-bottom: 0px;
}
.iconav2{
	height: 75%;
	padding-left: 15px;
	margin-top: 3px;
	margin-bottom: 0px;
}

html, body {
margin: 0; padding: 0;
 font-family:"Biko_Regular";
}
.icons{
display:block;
margin:auto;
}
.icons img{
	height: 35px !important;

}
.imagen{
	height: 70%;
	margin-left: 10%;
	margin-top: 15px;
}
#menu{
	float: right;
	margin-right: 10%;
	margin-top: 5px;
}
#menu ul li {
    background-color:white;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
text-align:center;
    display:block;
    color:black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"Biko_Regular";

  letter-spacing:1px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background:#efefef;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:150px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}