@font-face {
   font-family: "Biko_Regular";
  src: url("../fonts/Biko_Regular.otf");
}
::selection {
  background: #d2fb9f; /* WebKit/Blink Browsers */ /*#ffb7b7*/
}
::-moz-selection {
  background: #d2fb9f; /* Gecko Browsers */ /*#ffb7b7*/
}
html {
	font-family:"Biko_Regular" !important;
}
section {
	margin-top: 100px;
	margin-bottom: 200px;
	text-align: justify;
}

@media (max-width: 1000px) {
	section {
		margin-bottom: 400px;
	}
}