@font-face {
   font-family: "Biko_Regular";
	src: url("../fonts/Biko_Regular.otf");
}
::selection {
  background: #d2fb9f; /* WebKit/Blink Browsers */ /*#ffb7b7*/
}
::-moz-selection {
  background: #d2fb9f; /* Gecko Browsers */ /*#ffb7b7*/
}
html, body {
	font-family:"Biko_Regular" !important;
}

section {
	margin-top: 50px;
	margin-bottom: 200px;
	text-align: justify;
}

.info-container {
	padding: 2% 5%;	
	-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.09);
	box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.09);

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

h1 {
	margin: 30px 0px;
	text-align: center;
	font-size: 70px !important;
}

/*---------------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
	section {
		margin-bottom: 400px;
	}
}