.contenedor-registro {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 6% 7% 6% 7%;
    margin-top: 2%;
}

.green-text {
    color: #88c33d;
}

h1, .h1 {
    font-size: 2em;
}