
.imagen:hover {-webkit-transform: rotate(360deg); /* Rotacion */
-moz-transform: rotate(360deg);
transform: rotate(360deg);
transition:all 1.7s ease-out; /* Tiempo que tarda en girar */
-moz-transition: all 1.7s;
-webkit-transition: all 1.7s;
-o-transition: all 1.7s;

}
a{
	text-decoration:none;color:black;
}
.imagen{
	height: 400px;
}
.textimg{
	height: 80px;
}
.god{
	position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}